<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Streak Sync</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="primary-container">
    <h1> STREAK SYNC </h1>

    <a role="button" href="/register">
      Register
    </a>
  
    <a role="button" href="/login">
      Login
    </a>

  </div>
  


  <script> </script>
</body>
</html>