<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Streak Sync</title>
</head>
<body>
  
  <h1> STREAK SYNC </h1>

  <a role="button" href="/login">
    Register
  </a>

  <a role="button" class="/login">
    Login
  </a>

  <script> </script>
</body>
</html>